---
import { Image } from 'astro:assets'
import foto from '../images/FotoCV.jpg'
---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">

    <nav class="flex px-3 text-sm font-medium rounded-full gap-x-2 opacity-80 justify-center items-center">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>
